*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bold{
    font-weight: bold;
}

.center{
    text-align: center;
}

.hr{
    border-color: whitesmoke;
}

.grey{
    color: grey;
}

.margin-t-20{
    margin-top: 20px;
}

.margin-b-20{
    margin-bottom: 20px;
}

.footer-link{
    font-weight: bold;
    text-decoration: none;
    color: grey;
}

.footer-link:hover{
    text-decoration: none;
    color: #13df13;
    transition-duration: 0.5s;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
    font-size: 20px;
}

/****************************************** Contact Us Page ******************************************/

.contact-head{
    height: 300px;
    width: 100%;
    background-image: url('/assets/images/lgcgreenlogo.png');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.contact-head-body{
    font-weight: bold;
    font-size: 17px;
    color: green;
    width: 30%;
    padding-left: 50px;
    padding-top: 100px;
}

.contact-body{
    height: 700px;
    background-color: rgb(241, 241, 241);
}

.contact-body-sub{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.contact-right{
    float: right;
    width: 35%;
}

.contact-left{
    float: left;
    width: 65%;
}

.contact-card{
    margin-top: 30px;
}

.contact-form-info{
    margin-top: 30px;
    background-color: white;
    width: 80%;
}


.contact-form-info2{
    padding-left: 30px;
}

.contact-form-text{
    padding-top: 10px;
}

.contact-form-button{
    margin-top: 20px;
    margin-bottom: 30px;
}

.contact-form-input{
    width: 80%;
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
    background-color: transparent;
    cursor: default;
}

.contact-form-input:hover{
    border-bottom: 2px solid #13df13;
    transition-duration: 0.5s;
}

.contact-form-textbox{
    width: 80%;
    height: 200px;
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
    background-color: transparent;
    cursor: default;
}

.contact-form-textbox:hover{
    border-bottom: 2px solid #13df13;
    transition-duration: 0.5s;
}


/****************************************** About Us Page ******************************************/

.about-body-inside{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


/****************************************** Blog Page ******************************************/

.poster{
    border-radius: 50px;
    background-color: rgb(216, 216, 216);
    height: auto;
    width: 100%;
}

.poster-img{
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90% !important;
    height: 200px;
}

.blog-title{
    color: rgb(77, 75, 75);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.poster-txt{
    margin-left: 10px;
    margin-right: 10px;
}

.blog-info{
    font-size: 20px;
}

.blog-text{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(129, 129, 129);
    font-family: Arial, Helvetica, sans-serif;
}

.blog-button{
    width: 80%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: black;
}

.blog-button:hover{
    transition-duration: 1s;
    background-color: #13df13;
    color: white;
}

/****************************************** Blog Post Page ******************************************/

.blog-post{
    background-color: blue;
    width: 100%;
    margin-bottom: 20px;
}

.blog-post-img{
    background-color: green;
    width: 90%;
    margin: auto;
    object-fit: cover;
}

.blog-post-header{
    width: 90%;
    background-color: yellow;
    text-align: center;
    margin: auto;
}

.blog-post-info{
    background-color: red;
    text-align: center;
    width: 90%;
    margin: auto;
}