.hr{
    border-color: whitesmoke;
}

.grey{
    color: grey;
}

.footer-link{
    font-weight: bold;
    text-decoration: none;
    color: grey;
}

.footer-link:hover{
    text-decoration: none;
    color: #13df13;
    transition-duration: 0.5s;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
    font-size: 20px;
}

/****************************************** Contact Us Page ******************************************/

.contact-head{
    height: 300px;
    width: 100%;
    background-image: url('/assets/images/lgcgreenlogo.png');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.contact-head-body{
    font-weight: bold;
    font-size: 17px;
    color: green;
    width: 30%;
    padding-left: 50px;
    padding-top: 100px;
}

.contact-body{
    height: 1000px;
    background-color: rgb(241, 241, 241);
}

.contact-body-sub{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.contact-right{
    float: right;
    width: 35%;
}

.contact-left{
    float: left;
    width: 65%;
}