*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bold{
    font-weight: bold;
}

.center{
    text-align: center;
}

.hr{
    border-color: whitesmoke;
}

.grey{
    color: grey;
}

.footer-link{
    font-weight: bold;
    text-decoration: none;
    color: grey;
}

.footer-link:hover{
    text-decoration: none;
    color: #13df13;
    transition-duration: 0.5s;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
    font-size: 20px;
}

/****************************************** Contact Us Page ******************************************/

.contact-head{
    height: 300px;
    width: 100%;
    background-image: url('/assets/images/lgcgreenlogo.png');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.contact-head-body{
    font-weight: bold;
    font-size: 17px;
    color: green;
    width: 30%;
    padding-left: 50px;
    padding-top: 100px;
}

.contact-body{
    height: 700px;
    background-color: rgb(241, 241, 241);
}

.contact-body-sub{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.contact-right{
    float: right;
    width: 35%;
}

.contact-left{
    float: left;
    width: 65%;
}

.contact-card{
    margin-top: 30px;
}

.contact-form-info{
    margin-top: 30px;
    background-color: white;
    width: 80%;
}


.contact-form-info2{
    padding-left: 30px;
}

.contact-form-text{
    padding-top: 10px;
}

.contact-form-button{
    margin-top: 20px;
    margin-bottom: 30px;
}

.contact-form-input{
    width: 80%;
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
    background-color: transparent;
    cursor: default;
}

.contact-form-input:hover{
    border-bottom: 2px solid #13df13;
    transition-duration: 0.5s;
}

.contact-form-textbox{
    width: 80%;
    height: 200px;
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
    background-color: transparent;
    cursor: default;
}

.contact-form-textbox:hover{
    border-bottom: 2px solid #13df13;
    transition-duration: 0.5s;
}


/****************************************** About Us Page ******************************************/

.about-body-inside{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


/****************************************** Blog Page ******************************************/

.poster{
    background-color: red;
    height: 100px;
    width: 300px;
}